@charset "UTF-8";
/*Reseteo*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Variables*/
/*Se crea esta variable para cumplior con las consignas del desafio ya que no haria falta porqueno se reutiliza muchas veces*/
/*Estilos para las card cuando se pasa por encima*/
/* .tarjeta:hover{
    border: 3px solid $colorLink;
    margin-bottom: 0px;
    cursor: pointer;
} */
/*Se realiza map-get()*/
.tarjeta {
  color: #000;
  font-size: 25px;
  text-align: center;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
}
.tarjeta:hover {
  border: 3px solid #000;
  margin-bottom: 0px;
  cursor: pointer;
}

/*Modificamos algunos propiedades de la clase btn*/
.btn, .btn-contacto {
  background-color: rgb(23, 104, 23);
  color: white;
}
.btn:hover, .btn-contacto:hover {
  background-color: rgb(26, 63, 26);
  box-shadow: 2px 2px 2px black inset;
  color: white;
}

/*Reutilizamos la clase btn y extendemos para agregar propiedades a los botones del formulario del contacto*/
.btn-contacto {
  background-color: rgb(67, 196, 55);
  padding: 10px 30px;
}
.btn-contacto:hover {
  background-color: rgb(17, 122, 61);
  color: white;
}

/*Footer*/ /*El footer no lo sacamos de Bootstrap, se generó de 0, como así tambien sus estilos*/
/*Se crea mixin para reutilizar el display flex y flex-direction del footer ya que utilizan las mias propiedades*/
.footer {
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.footer .linkFooter {
  display: flex;
  list-style: none;
  margin: 20px 15px;
}
.footer .linkFooter a {
  color: #000; /*#37b611*/
  text-decoration: none;
  margin: 0 5px;
  font-weight: 500;
}
.footer .linkFooter a:hover {
  font-size: 1.5em;
  margin: 0;
}
.footer .footerIframe {
  width: 100%;
  height: 95%;
  margin: 15px 0;
}
.footer .redesFooter {
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: column;
  color: #000;
  margin-top: 25px;
}
.footer .redesFooter h3 {
  margin-bottom: 20px;
  text-align: center;
}
.footer .redesFooter a {
  margin: 0 5px;
}
.footer .redesFooter img:hover {
  width: 25px;
  height: 25px;
}
.footer .redesFooter .telFooter {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

/* ********* ANIMACIONES ***************/
/*Header*/
.logo {
  width: 50px;
  animation-duration: 4s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

/*Se agrega esta animacion sobre el logo, al iniciar al pagina aparece el logo*/
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/****** MEDIA QUERIES******/
@media (min-width: 1200px) {
  /*El grid es igual ya que no modifican las ubiucaciones de las partes del contenedor general*/
  /*Lo unico que se modifica es la ubicacion de los productos*/
  /*y cuando utilicemnos boostrap voy a modificar el header y menu para la version mobile*/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */