/*Footer*/  /*El footer no lo sacamos de Bootstrap, se generó de 0, como así tambien sus estilos*/

/*Se crea mixin para reutilizar el display flex y flex-direction del footer ya que utilizan las mias propiedades*/

@mixin flex {
    display: flex;
    flex-direction: column;   
 }

.footer{
    @include flex;
    align-items: center;
    padding: 10px 20px;

    .linkFooter{
        display: flex;
        list-style: none;
        margin: 20px 15px;
        a {
            color: $colorLink; /*#37b611*/
            text-decoration: none;
            margin: 0 5px;
            font-weight: 500;
            &:hover{
                font-size: 1.5em;
                margin:0; 
            }
        }
    }

    .footerIframe{
        width: 100%;
        height: 95%;
        margin: 15px 0;
    }

    .redesFooter{
        @include flex;
        color: $colorLink;
        margin-top: 25px;
        h3{
            margin-bottom: 20px;
            text-align: center;
        }
        a{
            margin:0 5px ;
        }
        img:hover{
            width: 25px;
            height: 25px;
        }
        .telFooter{
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
        }
    }
}
