/*map para los estilos de las tarjetas*/
$box:  (                 
cLetra: #000,
sizeLetra: 25px,
alineado: center,
redondo: 20px,
pad: 15px,
margen: 15px
);

/*Clase para sacar categoria de oferta*/
.noOferta{
    display: none;
}

/*Se genera estas clases para poder diferenciar las tarjetas de cada seccion*/

.tarjeta--oferta{
    border: 5px outset rgba(247,39,12,0.42);
    border-radius: 25px 25px 25px 25px;
    
}

.tarjeta--hombre{
    border: 5px outset rgba(42,60,247,0.35);
    border-radius: 25px 25px 25px 25px;
}

.tarjeta--mujer{
    border: 5px outset rgba(197,74,247,0.42);
    border-radius: 25px 25px 25px 25px;
}

.tarjeta--ninos{
    border: 5px outset rgba(42,247,44,0.42);
    border-radius: 25px 25px 25px 25px;
}


/*Se realiza map-get()*/
.tarjeta{
        color: map-get($box, cLetra);
        font-size: map-get($box, sizeLetra);
        text-align: map-get($box, alineado);
        padding: map-get($box, pad);
        margin: map-get($box, margen);
        border-radius: map-get($box, redondo);
        box-shadow: 1px 1px 1px rgb(70, 69, 69);
        position: relative;                                     /**************/
        &:hover{
            margin-bottom: 0px;
            padding: 0;
            cursor: pointer;
            /* box-shadow: 2px 2px 2px rgb(70, 69, 69) inset; */
            transition: all 50ms;
        }
        img{
            border-radius: 25%;
        }
        }

        /*Modificamos algunos propiedades de la clase btn*/
.btn{
    background-color: rgb(23, 104, 23);
    color: white;
    &:hover{
        background-color: rgb(26, 63, 26);
        box-shadow: 2px 2px 2px black inset;
        color: white;
    }
}

/*Reutilizamos la clase btn y extendemos para agregar propiedades a los botones del formulario del contacto*/

.btn-contacto{
    @extend .btn;
    background-color: rgb(67, 196, 55);
    padding: 10px 30px;
    &:hover{
        background-color: rgb(17, 122, 61);
        color: white;
    }
}

/*Estilos para el cartel de Oferta, para agregarle algo mas quie diferencia a las tarjetas de otras secciones*/
.cartel-oferta{
    background-color: red;
    border-radius: 25px;
    color: white;
    padding: 0px;
    font-size: 17px;
    position: absolute;
    top: 6px;
    left: 190px;
    padding: 5px 0px;
}