/*map para los estilos de las tarjetas*/
$box:  (                 
cLetra: #000,
sizeLetra: 25px,
alineado: center,
redondo: 20px,
pad: 15px,
margen: 15px
);


/*Se realiza map-get()*/
.tarjeta{
        color: map-get($box, cLetra);
        font-size: map-get($box, sizeLetra);
        text-align: map-get($box, alineado);
        padding: map-get($box, pad);
        margin: map-get($box, margen);
        border-radius: map-get($box, redondo);
        box-shadow: 1px 1px 1px rgb(70, 69, 69);
        &:hover{
            margin-bottom: 0px;
            padding: 0;
            cursor: pointer;
            box-shadow: 2px 2px 2px rgb(70, 69, 69) inset;
            transition: all 50ms;
        }
        img{
            border-radius: 25%;
        }
        }

        /*Modificamos algunos propiedades de la clase btn*/
.btn{
    background-color: rgb(23, 104, 23);
    color: white;
    &:hover{
        background-color: rgb(26, 63, 26);
        box-shadow: 2px 2px 2px black inset;
        color: white;
    }
}

/*Reutilizamos la clase btn y extendemos para agregar propiedades a los botones del formulario del contacto*/

.btn-contacto{
    @extend .btn;
    background-color: rgb(67, 196, 55);
    padding: 10px 30px;
    &:hover{
        background-color: rgb(17, 122, 61);
        color: white;
    }
}